In [292]:
import pandas as pd
import re

In [293]:
df = pd.read_csv('data.csv', delimiter=';')

In [294]:
df = df.dropna(how='any')

In [295]:
df.head()

,Year,Drivers,Class,Team,Car and engine make,Tyre,Laps,Km,Mi,Series,Ref
0,1923,"<span data-sort-value=""Lagache, André"">André L...",3.0,Chenard & Walcker SA (FRA),Chenard-Walcker Type U3 15CV Sport,M,128.0,2209.536,1372.942,No series,[14]
1,1923,"<span data-sort-value=""Léonard, René"">René Léo...",3.0,Chenard & Walcker SA (FRA),Chenard-Walcker Type U3 15CV Sport,M,128.0,2209.536,1372.942,No series,[14]
2,1924,"<span data-sort-value=""Clement, Frank"">Frank C...",3.0,Duff & Aldington (GBR),Bentley 3 Litre Sport,R,120.0,2077.340,1290.80,No series,[13]
3,1924,"<span data-sort-value=""Duff, John"">John Duff (...",3.0,Duff & Aldington (GBR),Bentley 3 Litre Sport,R,120.0,2077.340,1290.80,No series,[13]
4,1925,"<span data-sort-value=""de Courcelles, Gérard"">...",5.0,Société Lorraine De Dietrich et Cie (FRA),Lorraine-Dietrich B3-6 Sport,E,129.0,2233.982,1388.132,No series,[15]

In [296]:
df['Drivers'][0]

'<span data-sort-value="Lagache, André">André Lagache (FRA)'

In [297]:
df['Drivers'][0].split('>')

['<span data-sort-value="Lagache, André"', 'André Lagache (FRA)']

In [298]:
df['Drivers'] = df['Drivers'].apply(lambda x : x.split('>')[1])

In [299]:
df['Drivers']

0              André Lagache (FRA)
1               René Léonard (FRA)
2              Frank Clement (GBR)
3               John Duff (CAN)[a]
4       Gérard de Courcelles (FRA)
                  ...
224          Brendon Hartley (NZL)
225             Ryō Hirakawa (JPN)
226             James Calado (GBR)
227       Antonio Giovinazzi (ITA)
228    Alessandro Pier Guidi (ITA)
Name: Drivers, Length: 227, dtype: object

In [300]:
df['Drivers'][3]

'John Duff (CAN)[a]'

In [301]:
df['Drivers'] = df['Drivers'].apply(lambda x : x.rstrip('[]a]'))

In [302]:
df['Drivers']

0              André Lagache (FRA)
1               René Léonard (FRA)
2              Frank Clement (GBR)
3                  John Duff (CAN)
4       Gérard de Courcelles (FRA)
                  ...
224          Brendon Hartley (NZL)
225             Ryō Hirakawa (JPN)
226             James Calado (GBR)
227       Antonio Giovinazzi (ITA)
228    Alessandro Pier Guidi (ITA)
Name: Drivers, Length: 227, dtype: object

In [303]:
regex = r'\(([^)]+)\)'

In [304]:
driver_country_codes = df['Drivers'].str.findall(regex)
team_country_codes = df['Team'].str.findall(regex)

In [305]:
driver_country_codes.head()

0    [FRA]
1    [FRA]
2    [GBR]
3    [CAN]
4    [FRA]
Name: Drivers, dtype: object

In [306]:
team_country_codes.head()

0    [FRA]
1    [FRA]
2    [GBR]
3    [GBR]
4    [FRA]
Name: Team, dtype: object

In [307]:
df['Driver_nationality'] = driver_country_codes
df['Team_nationality'] = team_country_codes

In [308]:
df['Drivers'] = df['Drivers'].apply(lambda x: x.split('(')[0])

In [309]:
df['Team'] = df['Team'].apply(lambda x : x.split('(')[0])

In [310]:
df.head()

,Year,Drivers,Class,Team,Car and engine make,Tyre,Laps,Km,Mi,Series,Ref,Driver_nationality,Team_nationality
0,1923,André Lagache,3.0,Chenard & Walcker SA,Chenard-Walcker Type U3 15CV Sport,M,128.0,2209.536,1372.942,No series,[14],[FRA],[FRA]
1,1923,René Léonard,3.0,Chenard & Walcker SA,Chenard-Walcker Type U3 15CV Sport,M,128.0,2209.536,1372.942,No series,[14],[FRA],[FRA]
2,1924,Frank Clement,3.0,Duff & Aldington,Bentley 3 Litre Sport,R,120.0,2077.340,1290.80,No series,[13],[GBR],[GBR]
3,1924,John Duff,3.0,Duff & Aldington,Bentley 3 Litre Sport,R,120.0,2077.340,1290.80,No series,[13],[CAN],[GBR]
4,1925,Gérard de Courcelles,5.0,Société Lorraine De Dietrich et Cie,Lorraine-Dietrich B3-6 Sport,E,129.0,2233.982,1388.132,No series,[15],[FRA],[FRA]

In [311]:
df.dtypes

Year                    object
Drivers                 object
Class                   object
Team                    object
Car and engine make     object
Tyre                    object
Laps                   float64
Km                     float64
Mi                      object
Series                  object
Ref                     object
Driver_nationality      object
Team_nationality        object
dtype: object

In [312]:
df['Mi'].unique()

array(['1372.942', '1290.80', '1388.132', '1585.997', '1472.530',
       '1658.609', '1767.07', '1821.03', '1875.083', '1835.554',
       '1953.615', '1793.860', '1868.337', '2043.030', '1976.54',
       '2084.55', '1974.903', '2153.13', '2243.891', '2320.076',
       '2540.205', '2523.48', '2569.61', '2507.189', '2732.236',
       '2548.819', '2701.7', '2620.650', '2781.62', '2765.882', '2834.52',
       '2917.53', '2906.22', '3009.36', '3251.6', '2766.89', '3106',
       '2863.16', '3315.210', '2915.065', '3016.102', '2862.391',
       '2855.559', '2963.893', '2902.82', '3134.53', '2593.56', '2863.29',
       '2998.332', '3044.151', '3136.641', '3044.890', '3161.852',
       '3089.912', '2977.472', '3313.75', '3271.591', '3033.78',
       '3058.89', '2974.6', '3200', '2911.560', '2520.2', '2991.5',
       '3050.7', '2972.504', '3096.276', '3111.819', '2713.7', '3180.64',
       '3,197.31', '3212.47', '3138.2', '3223', '3124.938', '3226.562',
       '3235.031', '3362.061', '3006.377', '3201.156', '2947.096',
       '3209.625', '3344.73', '3251.969', '3107.62', '3285.120',
       '3259.72', '3276.15', '3140.7', '3217', '2895.65'], dtype=object)

In [313]:
df['Mi'] = df['Mi'].str.replace(',', '').astype(float)

In [314]:
df.drop(columns=['Ref'], inplace=True)

In [315]:
df.tail()

,Year,Drivers,Class,Team,Car and engine make,Tyre,Laps,Km,Mi,Series,Driver_nationality,Team_nationality
224,2022,Brendon Hartley,Hypercar,Toyota Gazoo Racing,Toyota GR010 Hybrid,M,380.0,5177.17,3217.00,FIA WECTooltip 2022 FIA World Endurance Champi...,[NZL],[JPN]
225,2022,Ryō Hirakawa,Hypercar,Toyota Gazoo Racing,Toyota GR010 Hybrid,M,380.0,5177.17,3217.00,FIA WECTooltip 2022 FIA World Endurance Champi...,[JPN],[JPN]
226,2023,James Calado,Hypercar,Ferrari – AF Corse,Ferrari 499P,M,342.0,4660.10,2895.65,FIA WECTooltip 2023 FIA World Endurance Champi...,[GBR],[ITA]
227,2023,Antonio Giovinazzi,Hypercar,Ferrari – AF Corse,Ferrari 499P,M,342.0,4660.10,2895.65,FIA WECTooltip 2023 FIA World Endurance Champi...,[ITA],[ITA]
228,2023,Alessandro Pier Guidi,Hypercar,Ferrari – AF Corse,Ferrari 499P,M,342.0,4660.10,2895.65,FIA WECTooltip 2023 FIA World Endurance Champi...,[ITA],[ITA]

In [316]:
df['Series'].unique()

array(['No series',
       'WSC<yyyyy data-mw-deduplicate="TemplateStyles:r1152813436">.mw-parser-output .sr-only{border:0;clip:rect(0,0,0,0);clip-path:polygon(0px 0px,0px 0px,0px 0px);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;white-space:nowrap}Tooltip 1953 World Sportscar Championship',
       'WSCTooltip 1954 World Sportscar Championship',
       'WSCTooltip 1955 World Sportscar Championship',
       'WSCTooltip 1957 World Sportscar Championship',
       'WSCTooltip 1958 World Sportscar Championship',
       'WSCTooltip 1959 World Sportscar Championship',
       'WSCTooltip 1960 World Sportscar Championship', 'GTC',
       'WSCTooltip 1961 World Sportscar Championship',
       'WSCTooltip 1962 World Sportscar Championship', 'CMVE',
       'WSCTooltip 1963 World Sportscar Championship',
       'WSCTooltip 1964 World Sportscar Championship',
       'WSCTooltip 1965 World Sportscar Championship',
       'WSCTooltip 1966 World Sportscar Championship',
       'WSCTooltip 1967 World Sportscar Championship',
       'ICMTooltip 1968 World Sportscar Championship',
       'ICMTooltip 1969 World Sportscar Championship', 'CFC',
       'ICMTooltip 1970 World Sportscar Championship',
       'ICMTooltip 1971 World Sportscar Championship',
       'WCMTooltip 1972 World Sportscar Championship',
       'WCMTooltip 1973 World Sportscar Championship', 'SSGTC',
       'WCMTooltip 1974 World Sportscar Championship', 'WCED',
       'WCMTooltip 1980 World Sportscar Championship',
       'WECTooltip 1981 World Sportscar Championship',
       'WECTooltip 1982 World Sportscar Championship',
       'EECTooltip 1983 European Endurance Championship',
       'WECTooltip 1983 World Sportscar Championship',
       'WECTooltip 1984 World Sportscar Championship',
       'WECTooltip 1985 World Sportscar Championship',
       'WSPCTooltip 1986 World Sportscar Championship',
       'WSPCTooltip 1987 World Sportscar Championship',
       'WSPCTooltip 1988 World Sportscar Championship',
       'WSCTooltip 1991 World Sportscar Championship',
       'WSCTooltip 1992 World Sportscar Championship',
       'ILMCTooltip 2011 Intercontinental Le Mans Cup',
       'FIA WECTooltip 2012 FIA World Endurance Championship',
       'FIA WECTooltip 2013 FIA World Endurance Championship',
       'FIA WECTooltip 2014 FIA World Endurance Championship',
       'FIA WECTooltip 2015 FIA World Endurance Championship',
       'FIA WECTooltip 2016 FIA World Endurance Championship',
       'FIA WECTooltip 2017 FIA World Endurance Championship',
       'FIA WECTooltip 2018–19 FIA World Endurance Championship',
       'FIA WECTooltip 2019–20 FIA World Endurance Championship',
       'FIA WECTooltip 2021 FIA World Endurance Championship',
       'FIA WECTooltip 2022 FIA World Endurance Championship',
       'FIA WECTooltip 2023 FIA World Endurance Championship'],
      dtype=object)

In [317]:
df['Series'] = df['Series'].apply(lambda x : x.split('T')[0])

In [318]:
df.tail()

,Year,Drivers,Class,Team,Car and engine make,Tyre,Laps,Km,Mi,Series,Driver_nationality,Team_nationality
224,2022,Brendon Hartley,Hypercar,Toyota Gazoo Racing,Toyota GR010 Hybrid,M,380.0,5177.17,3217.00,FIA WEC,[NZL],[JPN]
225,2022,Ryō Hirakawa,Hypercar,Toyota Gazoo Racing,Toyota GR010 Hybrid,M,380.0,5177.17,3217.00,FIA WEC,[JPN],[JPN]
226,2023,James Calado,Hypercar,Ferrari – AF Corse,Ferrari 499P,M,342.0,4660.10,2895.65,FIA WEC,[GBR],[ITA]
227,2023,Antonio Giovinazzi,Hypercar,Ferrari – AF Corse,Ferrari 499P,M,342.0,4660.10,2895.65,FIA WEC,[ITA],[ITA]
228,2023,Alessandro Pier Guidi,Hypercar,Ferrari – AF Corse,Ferrari 499P,M,342.0,4660.10,2895.65,FIA WEC,[ITA],[ITA]

In [319]:
df.rename(columns={'Car and engine make' : 'Car'}, inplace=True)

## feature engineering

In [320]:
df.tail()

,Year,Drivers,Class,Team,Car,Tyre,Laps,Km,Mi,Series,Driver_nationality,Team_nationality
224,2022,Brendon Hartley,Hypercar,Toyota Gazoo Racing,Toyota GR010 Hybrid,M,380.0,5177.17,3217.00,FIA WEC,[NZL],[JPN]
225,2022,Ryō Hirakawa,Hypercar,Toyota Gazoo Racing,Toyota GR010 Hybrid,M,380.0,5177.17,3217.00,FIA WEC,[JPN],[JPN]
226,2023,James Calado,Hypercar,Ferrari – AF Corse,Ferrari 499P,M,342.0,4660.10,2895.65,FIA WEC,[GBR],[ITA]
227,2023,Antonio Giovinazzi,Hypercar,Ferrari – AF Corse,Ferrari 499P,M,342.0,4660.10,2895.65,FIA WEC,[ITA],[ITA]
228,2023,Alessandro Pier Guidi,Hypercar,Ferrari – AF Corse,Ferrari 499P,M,342.0,4660.10,2895.65,FIA WEC,[ITA],[ITA]

In [321]:
df['Average_speed_kmh'] = round(df['Km']/24, 2)

In [322]:
df['Average_speed_mph'] = round(df['Mi']/24, 2)

In [323]:
df.tail()

,Year,Drivers,Class,Team,Car,Tyre,Laps,Km,Mi,Series,Driver_nationality,Team_nationality,Average_speed_kmh,Average_speed_mph
224,2022,Brendon Hartley,Hypercar,Toyota Gazoo Racing,Toyota GR010 Hybrid,M,380.0,5177.17,3217.00,FIA WEC,[NZL],[JPN],215.72,134.04
225,2022,Ryō Hirakawa,Hypercar,Toyota Gazoo Racing,Toyota GR010 Hybrid,M,380.0,5177.17,3217.00,FIA WEC,[JPN],[JPN],215.72,134.04
226,2023,James Calado,Hypercar,Ferrari – AF Corse,Ferrari 499P,M,342.0,4660.10,2895.65,FIA WEC,[GBR],[ITA],194.17,120.65
227,2023,Antonio Giovinazzi,Hypercar,Ferrari – AF Corse,Ferrari 499P,M,342.0,4660.10,2895.65,FIA WEC,[ITA],[ITA],194.17,120.65
228,2023,Alessandro Pier Guidi,Hypercar,Ferrari – AF Corse,Ferrari 499P,M,342.0,4660.10,2895.65,FIA WEC,[ITA],[ITA],194.17,120.65

In [324]:
df['Car'] = df['Car'].apply(lambda x : x.rstrip('[]g]'))

In [325]:
df['Average_lap_time'] = round(24*3600/60/df['Laps'], 2)

In [326]:
df.tail()

,Year,Drivers,Class,Team,Car,Tyre,Laps,Km,Mi,Series,Driver_nationality,Team_nationality,Average_speed_kmh,Average_speed_mph,Average_lap_time
224,2022,Brendon Hartley,Hypercar,Toyota Gazoo Racing,Toyota GR010 Hybrid,M,380.0,5177.17,3217.00,FIA WEC,[NZL],[JPN],215.72,134.04,3.79
225,2022,Ryō Hirakawa,Hypercar,Toyota Gazoo Racing,Toyota GR010 Hybrid,M,380.0,5177.17,3217.00,FIA WEC,[JPN],[JPN],215.72,134.04,3.79
226,2023,James Calado,Hypercar,Ferrari – AF Corse,Ferrari 499P,M,342.0,4660.10,2895.65,FIA WEC,[GBR],[ITA],194.17,120.65,4.21
227,2023,Antonio Giovinazzi,Hypercar,Ferrari – AF Corse,Ferrari 499P,M,342.0,4660.10,2895.65,FIA WEC,[ITA],[ITA],194.17,120.65,4.21
228,2023,Alessandro Pier Guidi,Hypercar,Ferrari – AF Corse,Ferrari 499P,M,342.0,4660.10,2895.65,FIA WEC,[ITA],[ITA],194.17,120.65,4.21

In [327]:
df['Tyre'] = df['Tyre'].replace(['M', 'E', 'C', 'D', 'F' ,'G', 'P' ,'R'], 
                   ['Michelin', 'Englebert', 'Continental', 'Dunlop', 'Firestone',
                    'Goodyear', 'Pirelli', 'Rapson'])

In [328]:
df.tail()

,Year,Drivers,Class,Team,Car,Tyre,Laps,Km,Mi,Series,Driver_nationality,Team_nationality,Average_speed_kmh,Average_speed_mph,Average_lap_time
224,2022,Brendon Hartley,Hypercar,Toyota Gazoo Racing,Toyota GR010 Hybrid,Michelin,380.0,5177.17,3217.00,FIA WEC,[NZL],[JPN],215.72,134.04,3.79
225,2022,Ryō Hirakawa,Hypercar,Toyota Gazoo Racing,Toyota GR010 Hybrid,Michelin,380.0,5177.17,3217.00,FIA WEC,[JPN],[JPN],215.72,134.04,3.79
226,2023,James Calado,Hypercar,Ferrari – AF Corse,Ferrari 499P,Michelin,342.0,4660.10,2895.65,FIA WEC,[GBR],[ITA],194.17,120.65,4.21
227,2023,Antonio Giovinazzi,Hypercar,Ferrari – AF Corse,Ferrari 499P,Michelin,342.0,4660.10,2895.65,FIA WEC,[ITA],[ITA],194.17,120.65,4.21
228,2023,Alessandro Pier Guidi,Hypercar,Ferrari – AF Corse,Ferrari 499P,Michelin,342.0,4660.10,2895.65,FIA WEC,[ITA],[ITA],194.17,120.65,4.21

In [329]:
df['Driver_nationality'] = df['Driver_nationality'].apply(lambda x : x[0])

In [330]:
df['Team_nationality'] = df['Team_nationality'].apply(lambda x : x[0])

In [331]:
df.tail()

,Year,Drivers,Class,Team,Car,Tyre,Laps,Km,Mi,Series,Driver_nationality,Team_nationality,Average_speed_kmh,Average_speed_mph,Average_lap_time
224,2022,Brendon Hartley,Hypercar,Toyota Gazoo Racing,Toyota GR010 Hybrid,Michelin,380.0,5177.17,3217.00,FIA WEC,NZL,JPN,215.72,134.04,3.79
225,2022,Ryō Hirakawa,Hypercar,Toyota Gazoo Racing,Toyota GR010 Hybrid,Michelin,380.0,5177.17,3217.00,FIA WEC,JPN,JPN,215.72,134.04,3.79
226,2023,James Calado,Hypercar,Ferrari – AF Corse,Ferrari 499P,Michelin,342.0,4660.10,2895.65,FIA WEC,GBR,ITA,194.17,120.65,4.21
227,2023,Antonio Giovinazzi,Hypercar,Ferrari – AF Corse,Ferrari 499P,Michelin,342.0,4660.10,2895.65,FIA WEC,ITA,ITA,194.17,120.65,4.21
228,2023,Alessandro Pier Guidi,Hypercar,Ferrari – AF Corse,Ferrari 499P,Michelin,342.0,4660.10,2895.65,FIA WEC,ITA,ITA,194.17,120.65,4.21

In [336]:
df.set_index('Year', inplace=True)

In [337]:
df.to_csv('clean_data.csv')

In [338]:
df.tail()

,Drivers,Class,Team,Car,Tyre,Laps,Km,Mi,Series,Driver_nationality,Team_nationality,Average_speed_kmh,Average_speed_mph,Average_lap_time
Year,,,,,,,,,,,,,,
2022,Brendon Hartley,Hypercar,Toyota Gazoo Racing,Toyota GR010 Hybrid,Michelin,380.0,5177.17,3217.00,FIA WEC,NZL,JPN,215.72,134.04,3.79
2022,Ryō Hirakawa,Hypercar,Toyota Gazoo Racing,Toyota GR010 Hybrid,Michelin,380.0,5177.17,3217.00,FIA WEC,JPN,JPN,215.72,134.04,3.79
2023,James Calado,Hypercar,Ferrari – AF Corse,Ferrari 499P,Michelin,342.0,4660.10,2895.65,FIA WEC,GBR,ITA,194.17,120.65,4.21
2023,Antonio Giovinazzi,Hypercar,Ferrari – AF Corse,Ferrari 499P,Michelin,342.0,4660.10,2895.65,FIA WEC,ITA,ITA,194.17,120.65,4.21
2023,Alessandro Pier Guidi,Hypercar,Ferrari – AF Corse,Ferrari 499P,Michelin,342.0,4660.10,2895.65,FIA WEC,ITA,ITA,194.17,120.65,4.21

In [339]:
df.columns

Index(['Drivers', 'Class', 'Team', 'Car', 'Tyre', 'Laps', 'Km', 'Mi', 'Series',
       'Driver_nationality', 'Team_nationality', 'Average_speed_kmh',
       'Average_speed_mph', 'Average_lap_time'],
      dtype='object')