In [127]:
import pandas as pd
import re

In [16]:
df = pd.read_csv('data.csv', delimiter=';')

In [29]:
df.head()

,Year,Drivers,Class,Team,Car and engine make,Tyre,Laps,Km,Mi,Series,Ref
0,1923,"<span data-sort-value=""Lagache, André"">André L...",3.0,Chenard & Walcker SA (FRA),Chenard-Walcker Type U3 15CV Sport,M,128.0,2209.536,1372.942,No series,[14]
1,1923,"<span data-sort-value=""Léonard, René"">René Léo...",3.0,Chenard & Walcker SA (FRA),Chenard-Walcker Type U3 15CV Sport,M,128.0,2209.536,1372.942,No series,[14]
2,1924,"<span data-sort-value=""Clement, Frank"">Frank C...",3.0,Duff & Aldington (GBR),Bentley 3 Litre Sport,R,120.0,2077.340,1290.80,No series,[13]
3,1924,"<span data-sort-value=""Duff, John"">John Duff (...",3.0,Duff & Aldington (GBR),Bentley 3 Litre Sport,R,120.0,2077.340,1290.80,No series,[13]
4,1925,"<span data-sort-value=""de Courcelles, Gérard"">...",5.0,Société Lorraine De Dietrich et Cie (FRA),Lorraine-Dietrich B3-6 Sport,E,129.0,2233.982,1388.132,No series,[15]

In [31]:
df['Drivers'][0]

'<span data-sort-value="Lagache, André">André Lagache (FRA)'

In [27]:
df['Drivers'].split('>')[1]

'André Lagache (FRA)'

In [50]:
df['Drivers'] = df['Drivers'].apply(lambda x : x.split('>')[1])

In [51]:
df['Drivers']

0              André Lagache (FRA)
1               René Léonard (FRA)
2              Frank Clement (GBR)
3               John Duff (CAN)[a]
4       Gérard de Courcelles (FRA)
                  ...
224          Brendon Hartley (NZL)
225             Ryō Hirakawa (JPN)
226             James Calado (GBR)
227       Antonio Giovinazzi (ITA)
228    Alessandro Pier Guidi (ITA)
Name: Drivers, Length: 229, dtype: object

In [59]:
df['Drivers'].loc[df['Drivers'][:-3]]

'John Duff (CAN)[a]'

In [105]:
df['Drivers'] = df['Drivers'].apply(lambda x : x.rstrip('[]a]'))

In [120]:
df['Drivers']

0              André Lagache (FRA)
1               René Léonard (FRA)
2              Frank Clement (GBR)
3                  John Duff (CAN)
4       Gérard de Courcelles (FRA)
                  ...
224          Brendon Hartley (NZL)
225             Ryō Hirakawa (JPN)
226             James Calado (GBR)
227       Antonio Giovinazzi (ITA)
228    Alessandro Pier Guidi (ITA)
Name: Drivers, Length: 229, dtype: object

In [135]:
regex = r'\(([^)]+)\)'

country_codes = df['Drivers'].str.findall(regex)

In [163]:
df['Nationality'] = country_codes

In [166]:
df['Drivers'] = df['Drivers'].apply(lambda x: x.split('(')[0])

In [168]:
df.dtypes

Year                    object
Drivers                 object
Class                   object
Team                    object
Car and engine make     object
Tyre                    object
Laps                   float64
Km                     float64
Mi                      object
Series                  object
Ref                     object
Nationality             object
dtype: object

In [170]:
df[['Year', 'Mi']].astype(float)

ValueError: could not convert string to float: '1940–1948'